<div>
  <label for="title">Title</label>
  <input required type="text" name="title" id="title" />
</div>

<div>
  <label for="title">Description</label>
  <textarea name="description" id="description"></textarea>
</div>

<div>
  <label for="title">Markdown</label>
  <textarea name="markdown" id="markdown"></textarea>
  <a href="/">Cancel</a>
  <button type="submit">Save</button>
</div>
